.visual {
    /*background-color: var(--ion-color-primary);*/
    margin: 0;
    text-align: center;
    height: 0;
    padding-top: 75%;
    position: relative;
}

.visual > * {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%) scale(0.75);
}

